$mat-cs-accent: (
        50 : #ffede9,
        100 : #ffd2c9,
        200 : #ffb4a5,
        300 : #ff9681,
        400 : #ff8066,
        500 : #ff694b, // sanguinella
        600 : #ff6144,
        700 : #ff563b,
        800 : #ff4c33,
        900 : #ff3b23,
        1000: #e42811,
        A100 : #ffffff,
        A200 : #ffffff,
        A400 : #ffd6d2,
        A700 : #ffbfb8,
        contrast: (
                50 : #000000,
                100 : #000000,
                200 : #000000,
                300 : #000000,
                400 : #000000,
                500 : #000000,
                600 : #000000,
                700 : #000000,
                800 : #ffffff,
                900 : #ffffff,
                A100 : #000000,
                A200 : #000000,
                A400 : #000000,
                A700 : #000000,
        )
);
