$mat-cs-error: (
        50 : #ffe2e8,
        100 : #ffb6c5,
        200 : #ff869f,
        300 : #ff5578,
        400 : #ff305b,
        500 : #ff0c3e,
        600 : #ff0a38,
        700 : #ff0830,
        800 : #ff0628,
        900 : #ff031b,
        1000: #4e3d3f,
        A100 : #DF0C3E,
        A200 : #fff2f3,
        A400 : #ffbfc3,
        A700 : #ffa6ab,
        contrast: (
                50 : #000000,
                100 : #000000,
                200 : #000000,
                300 : #000000,
                400 : #ffffff,
                500 : #ffffff,
                600 : #ffffff,
                700 : #ffffff,
                800 : #ffffff,
                900 : #ffffff,
                A100 : #000000,
                A200 : #000000,
                A400 : #000000,
                A700 : #000000,
        )
);
