$mat-cs-info-dark: (
        50 : #edf2f8,
        100 : #d3deee,
        200 : #b5c8e2,
        300 : #97b1d6,
        400 : #81a1ce,
        500 : #6b90c5,
        600 : #6388bf,
        700 : #587db8,
        800 : #4e73b0,
        900 : #3c61a3,
        A100 : #f3f7ff,
        A200 : #c0d6ff,
        A400 : #8db4ff,
        A700 : #74a3ff,
        contrast: (
                50 : #000000,
                100 : #000000,
                200 : #000000,
                300 : #000000,
                400 : #000000,
                500 : #000000,
                600 : #000000,
                700 : #ffffff,
                800 : #ffffff,
                900 : #ffffff,
                A100 : #000000,
                A200 : #000000,
                A400 : #000000,
                A700 : #000000,
        )
);
