$mat-cs-info: (
        50 : #e3f4ff,
        100 : #b9e3ff,
        200 : #8ad0ff,
        300 : #5bbdff,
        400 : #38afff,
        500 : #15a1ff,
        600 : #1299ff,
        700 : #0f8fff,
        800 : #0c85ff,
        900 : #0674ff,
        A100 : #ffffff,
        A200 : #f3f8ff,
        A400 : #c0d9ff,
        A700 : #a7c9ff,
        contrast: (
                50 : #000000,
                100 : #000000,
                200 : #000000,
                300 : #000000,
                400 : #000000,
                500 : #000000,
                600 : #ffffff,
                700 : #ffffff,
                800 : #ffffff,
                900 : #ffffff,
                A100 : #000000,
                A200 : #000000,
                A400 : #000000,
                A700 : #000000,
        )
);
