$mat-cs-primary: (
        25 : #f7fcff,
        40 : #f1faff,
        50 : #e0e9f0,
        100 : #b3c8d9,
        200 : #80a3bf,
        300 : #4d7ea5,
        400 : #266292,
        500 : #00467f,
        600 : #003f77,
        700 : #00376c,
        800 : #002f62,
        900 : #00204f,
        A100 : #82a8ff,
        A200 : #4f84ff,
        A400 : #1c60ff,
        A700 : #034fff,
        contrast: (
                50 : #000000,
                100 : #000000,
                200 : #000000,
                300 : #ffffff,
                400 : #ffffff,
                500 : #ffffff,
                600 : #ffffff,
                700 : #ffffff,
                800 : #ffffff,
                900 : #ffffff,
                A100 : #000000,
                A200 : #000000,
                A400 : #ffffff,
                A700 : #ffffff,
        )
);
