<div class="splash-screen-container flex-center-center flex-vert" [ngClass]="{'hide': hide}">
  <img src="assets/images/e2logo.png" alt="e2-logo">
  <svg width="150" height="150" viewBox="0 0 100 100">
    <polyline class="line-cornered stroke-still" points="0,0 100,0 100,100" stroke-width="3" fill="none"></polyline>
    <polyline class="line-cornered stroke-still" points="0,0 0,100 100,100" stroke-width="3" fill="none"></polyline>
    <polyline class="line-cornered stroke-animation" points="0,0 100,0 100,100" stroke-width="3" fill="none"></polyline>
    <polyline class="line-cornered stroke-animation" points="0,0 0,100 100,100" stroke-width="3" fill="none"></polyline>
  </svg>
</div>
