
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$app-theme-primary: mat-palette($mat-indigo);
$app-theme-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$app-theme-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$app-theme-theme: mat-light-theme($app-theme-primary, $app-theme-accent, $app-theme-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($app-theme-theme);

@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600|Source+Sans+Pro:200,300,400,600|Passion+One|Comfortaa:300,700");
@import "./sass/theming/theme";

* {
  font-family: 'Source Sans Pro', sans-serif;
  box-sizing: border-box;
}

:root {
  font-size: 16px;
}

html, body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background: #edf2f9;
  color: #3c4858;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6, p, span, div {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.open-sans {
  font-family: 'Open Sans', 'Source Sans Pro', Roboto, "Helvetica Neue", sans-serif;
}

.hidden {
  display: none !important;
}

.invisible {
  visibility: hidden !important;
}

.medium-drop-shadow {
  box-shadow: 0 1px 3px 0 rgba(26, 26, 26, 0.1), 0 2px 7px 0 rgba(20, 20, 20, 0.08), 0 30px 10px -15px rgba(19, 19, 19, 0.05) !important;
}

mat-card {
  box-shadow: 0 1px 3px 0 rgba(26, 26, 26, 0.1), 0 2px 7px 0 rgba(20, 20, 20, 0.08), 0 30px 10px -15px rgba(19, 19, 19, 0.05) !important;
}

.medium-border-radius {
  border-radius: 4px;
}

.animate-slower {
  animation-duration: 2s !important;
}

.animate-slow {
  animation-duration: 1.5s !important;
}

.animate-normal {
  animation-duration: 0.5s !important;
}

.animate-fast {
  animation-duration: 0.2s !important;
}

.scroll-x {
  overflow-x: auto;
}

.text-wrap {
  word-wrap: normal;
}

.mat-button-wrapper {
  display: flex;
  place-content: center center;
  align-items: center;
}

.height100p {
  height: 100%;
}

h1, h2, h3, h4 {
  // font-family: "Source Sans Pro", helvetica, arial, sans-serif;
  letter-spacing: -0.019em;
  outline: 0;
}

h4 {
  font-weight: bold;
}

.ro-label {
  margin-right: 20px;
}

.label-200 {
  width: 200px;
  margin-bottom: 0;
}

label {
  font-weight: bold;
}

label.mat-checkbox-layout {
  margin-bottom: 0;
}


/* error styling */
mat-error:not(:first-of-type) {
  display: none;
}

/* end error styling */

/* remove annoying cached value yellow background */
input:-webkit-autofill {
  box-shadow: inset 0 0 0 9999px #eff2f7;
}

button:focus {
  outline: none;
}

.max-w1200 {
  max-width: 1200px;
}

.w100 {
  width: 100%;
}

.align-center {
  text-align: center;
}

/* =============================== */
// default class for Material dialogs
.mat-dialog-default {
  min-width: 200px;
  height: auto;
}

// ui panel
.ui-panel {
  background-color: white;
  padding: 10px 16px 10px 16px;
  border-radius: 4px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
